{% from "nav.html" import navbar with context %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/react/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <title>Stats</title>
</head>
  <body>
      {{ navbar() }}
      <h1>MyOrder App</h1>
      <style>
        .column {
          float: left;
          width: 25%;
        }
      </style>
  </body>
</html>

