<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/react/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <title>Menu Items</title>
    <script>

      //CREATE
      function createMenuItem() {
        restaurant_id = document.getElementById('restaurant_id').value;
        itemname = document.getElementById('itemname').value;
        itemprice = document.getElementById('itemprice').value;
        itemdescription = document.getElementById('itemdescription').value;
        fetch('menuitem/'+restaurant_id+'+'+itemname+'+'+itemprice+'+'+itemdescription, {
          method: 'CREATE',
        }).then(() => getAllMenuItems());
      }

      //READ
      function getAllMenuItems() {
        restaurant_id = document.getElementById('restaurant_id').value;
        
        fetch('menuitem/'+restaurant_id+'/menu')
          .then(response => response.json())
          .then(data => fillMenu(restaurant_id, data.menuitems))
      }

      //UPDATE
      function updateMenuItem() {
        restaurant_id = document.getElementById('restaurant_id').value;
        itemname = document.getElementById('itemname2').value;
        itemprice = document.getElementById('itemprice2').value;
        itemdescription = document.getElementById('itemdescription2').value;
        fetch('menuitem/'+restaurant_id+'+'+itemname+'+'+itemprice+'+'+itemdescription, {
          method: 'PUT',
        }).then(() => getAllMenuItems());
      }

      //DELETE
      function deleteMenuItem(restaurant_id, item_name) {
        fetch('menuitem/'+restaurant_id+'+'+item_name, {
          method: 'DELETE'
        }).then(() => getAllMenuItems());
      }
      
      //ADV QUERY
      function calculateAvgPrice() {
        restaurant_id = document.getElementById('restaurant_id').value;

        fetch('/restaurant/'+restaurant_id+'/avgprice')
          .then(response => response.json())
          .then(data => fillAvgPrice(data.avgprices))
      }

      function fillAvgPrice(data) {
        // avg_price_holder = document.getElementById('avgprice')
        // avg_price_holder.innerHTML = `<p>${data.avgprice}</p>`;
        // avg_price_holder.innerHTML = '';

        body = document.getElementById("main");
        listCont = document.createElement('ul');

        for (i = 0; i < data["list"].length; i++) {
          li = document.createElement("li");
          li.innerHTML = "Restaurant ID" + data["list"][i]["rid"] + " has an avg price of: " + data["list"][i]["avgprice"]
          listCont.appendChild(li);
        }

        body.appendChild(listCont);
      }

      function fillMenu(restaurant_id, data) {
        menu_list = document.getElementById('menulist')
        menu_list.innerHTML = `<h2>${data[0].restaurant_name}</h2>`
        
        for(let i in data) {
          menu_list.innerHTML += `
            <div>
              <h3>${data[i].item_name}</h3>
              <ul>
                <li>Price: ${data[i].item_price}</li>
                <li>Description: ${data[i].item_desc}</li>
              </ul>
              <button onclick="deleteMenuItem(${data[i].restaurant_id},  '${data[i].item_name}')">
                Delete
              </button>
            </div>
          `;
        }
      }

    </script>
</head>
  <body id="main">
    <h1>Menu Items</h1>

    Restaurant ID: <input id="restaurant_id" type="text">
    <button onclick="getAllMenuItems()">Get Menu</button>

    <div></div>

    Item Name: <input id="itemname" type="text">
    Price: <input id="itemprice" type="text">
    Description: <input id="itemdescription" type="text">
    <button onclick="createMenuItem()">Create Menu Item</button>
    
    <div></div>

    Item Name: <input id="itemname2" type="text">
    Price: <input id="itemprice2" type="text">
    Description: <input id="itemdescription2" type="text">
    <button onclick="updateMenuItem()">Update Menu Item</button>

    <div></div>
    <button onclick="calculateAvgPrice()">Average price of menu items:</button>
    <div id="menulist"></div>
    <!-- <div id="avgprice"></div> -->
  </body>
</html>
