<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/react/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <title>My Orders</title>
    <script>
      function getRestaurant() {
        rid = {{restaurant_id}};
        fetch('/findRestaurant/'+rid)
          .then(response => response.json())
          .then(data => fillRInfo(data.restaurant))
      }

      function fillRInfo(data) {
        orderslist = document.getElementById('restinfo')
        orderslist.innerHTML = ''
        for(let i in data) {
          orderslist.innerHTML += `
            <div>
              <h3>${data[i].restaurant_name}</h3>
              <ul>
                <li>Location: ${data[i].location}</li>
                <li>Rating: ${data[i].rating}</li>
                <li>Cuisine: ${data[i].food_types}</li>
                <li>Website: ${data[i].website}</li>
              </ul>
            </div>
          `;
        }
      }

      function getAllMenuItems() {
        let restaurant_id = {{restaurant_id}};
        
        fetch('/menuitem/'+restaurant_id+'/menu')
          .then(response => response.json())
          .then(data => fillMenu(restaurant_id, data.menuitems))
      }
      
      function fillMenu(restaurant_id, data) {
        menu_list = document.getElementById('menuitems')
        menu_list.innerHTML = `<h2>${data[0].restaurant_name}</h2>`
        
        for(let i in data) {
          menu_list.innerHTML += `
            <div>
              <h3>${data[i].item_name}</h3>
              <ul>
                <li>Price: ${data[i].item_price}</li>
                <li>Description: ${data[i].item_desc}</li>
              </ul>
              <button onclick="deleteMenuItem(${data[i].restaurant_id},  '${data[i].item_name}')">
                Delete
              </button>
            </div>
          `;
        }
      }
      
      function deleteMenuItem(restaurant_id, item_name) {
        fetch('/menuitem/'+restaurant_id+'+'+item_name, {
          method: 'DELETE'
        }).then(() => getAllMenuItems());
      }
      
      function getAllFeedback() {
        let restaurant_id = {{restaurant_id}};
        
        fetch('/findRestaurant/'+restaurant_id+'/feedback')
          .then(response => response.json())
          .then(data => fillFeedback(restaurant_id, data.feedback))
      }

      function fillFeedback(restaurant_id, data) {
        feedback_list = document.getElementById('feedback')
        feedback_list.innerHTML = `<h2>${data[0].restaurant_id}</h2>`
        
        for(let i in data) {
          feedback_list.innerHTML += `
            <div>
              <h3>${data[i].user_id}</h3>
              <ul>
                <li>Comment: ${data[i].content}</li>
                <li>Rating ${data[i].rating}</li>
                <li>Time: ${data[i].timestamp}</li>
              </ul>
              <button onclick="deleteMenuItem(${data[i].restaurant_id},  '${data[i].item_name}')">
                Delete
              </button>
            </div>
          `;
        }
      }
      
      window.onload = function() {
        getRestaurant()
        getAllMenuItems()
        getAllFeedback()
      }
    </script>
</head>
  <body id = "container">
    {{ navbar() }}

    <h1>Restaurant {{restaurant_id}}</h1>
    <h2>Restaurant Information</h2>
    <div id="restinfo">
    
    </div>
    
    <br>
    <hr>
    <br>
    
    <h2>Menu Items</h2>
    <div id="menuitems">
    
    </div>
    
    <br>
    <hr>
    <br>
    
    <h2>Feedback</h2>
    <div id="feedback">
    
    </div>
  
  </body>
</html>
