{% from "nav.html" import navbar with context %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/react/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <title>My Orders</title>
    <script>
      function getRestaurant() {
        rid = {{restaurant_id}};
        fetch('/findRestaurant/'+rid)
          .then(response => response.json())
          .then(data => fillRInfo(data.restaurant))
      }

      function fillRInfo(data) {
        orderslist = document.getElementById('restinfo')
        orderslist.innerHTML = ''
        for(let i in data) {
          orderslist.innerHTML += `
            <div>
              <h3>${data[i].restaurant_name}</h3>
              <ul>
                <li>Location: ${data[i].location}</li>
                <li>Rating: ${data[i].rating}</li>
                <li>Activity: ${data[i].food_types}</li>
                <li>Website: ${data[i].website}</li>
              </ul>
            </div>
          `;
        }
      }

      function getAllMenuItems() {
        let restaurant_id = {{restaurant_id}};
        
        fetch('/menuitem/'+restaurant_id+'/menu')
          .then(response => response.json())
          .then(data => fillMenu(restaurant_id, data.menuitems))
      }
      
      function fillMenu(restaurant_id, data) {
        menu_list = document.getElementById('menuitems')
        menu_list.innerHTML = `<h2>${data[0].restaurant_name}</h2>`
        
        for(let i in data) {
          menu_list.innerHTML += `
            <div>
              <h3>${data[i].item_name}</h3>
              <ul>
                <li>Price: ${data[i].item_price}</li>
                <li>Description: ${data[i].item_desc}</li>
              </ul>
              <button onclick="deleteMenuItem(${data[i].restaurant_id},  '${data[i].item_name}')">
                Delete
              </button>
            <ul><li>Notes: <textarea id="notesarea-${i}"></textarea></li></ul>
            <button onclick="addOrderPref(${data[i].restaurant_id},  '${data[i].item_name}')">
              Add Order Pref
            </button>
            </div>
          `;
        }
      }
    
      function addOrderPref(restaurant_id, item_name) {
        userid = localStorage.getItem('uid');
        if(userid == null) {
          console.log("no uid")
          return;
        }
        notes = document.getElementById('notes').value;
        fetch('/user/'+userid+'/orders/'+restaurant_id+'+'+item_name, {
          method: 'CREATE',
          body: notes
        });
      }

      function deleteMenuItem(restaurant_id, item_name) {
        fetch('/menuitem/'+restaurant_id+'+'+item_name, {
          method: 'DELETE'
        }).then(() => getAllMenuItems());
      }

      function createMenuItem() {
        let restaurant_id = {{restaurant_id}}
        let itemname = document.getElementById('itemname').value;
        let itemprice = document.getElementById('itemprice').value;
        let itemdescription = document.getElementById('itemdescription').value;
        fetch('/menuitem/'+restaurant_id+'+'+itemname+'+'+itemprice+'+'+itemdescription, {
          method: 'CREATE',
        }).then(() => getAllMenuItems());
      }
      
      function getAllFeedback() {
        let restaurant_id = {{restaurant_id}};
        
        fetch('/findRestaurant/'+restaurant_id+'/feedback')
          .then(response => response.json())
          .then(data => fillFeedback(restaurant_id, data.feedback))
      }

      function fillFeedback(restaurant_id, data) {
        console.log(data)
        feedback_list = document.getElementById('feedback')
        feedback_list.innerHTML = ""
        
        for(let i in data) {
          feedback_list.innerHTML += `
            <div>
            <h4>${data[i].username} - ${data[i].timestamp} </h4>
              <ul>
                <li>Rating ${data[i].rating}</li>
                <li>Comment: ${data[i].content}</li>
              </ul>
            <button onclick="deleteFeedback('${data[i].restaurant_id}', '${data[i].user_id}')">
                Delete
              </button>
            </div>
          `;
        }
      }
       
      function deleteFeedback(rid, uid) {
        let restaurant_id = rid;
        let user_id = uid;
        fetch('/feedback/'+restaurant_id+'+'+user_id, {
          method: 'DELETE',
        }).then(() => getAllFeedback());
      }

      function createFeedback() {
        let restaurant_id = {{restaurant_id}}
        let user_id = localStorage.getItem('uid')
        let content = document.getElementById('comment').value;
        let rating = document.getElementById('rating').value;
        fetch('/feedback/'+restaurant_id+'+'+user_id+'+'+content+'+'+rating, {
          method: 'CREATE',
        }).then(() => getAllFeedback());
      }

      window.onload = function() {
        getRestaurant()
        getAllMenuItems()
        getAllFeedback()
      }
    </script>
</head>
  <body id = "container">
    {{ navbar() }}

    <h1>Restaurant {{restaurant_id}}</h1>
    <h2>Restaurant Information</h2>
    <div id="restinfo">
    
    </div>
    
    <br>
    <hr>
    <br>
    
    <h2>Menu Items</h2>
    <div id="menuitems">
    
    </div>
    <br>
    <div id="additem">
      <h3>Add new menuitem:</h3>
      Item Name: <input id="itemname">
      <br>
      Price: <input type="number" id="itemprice">
      <br>
      <textarea id="itemdescription"></textarea>
      <br>
      <button onclick="createMenuItem()">Add Menuitem</button>
    </div>
    
    <br>
    <hr>
    <br>
    
    <h2>Feedback</h2>
    <div id="addfeedback">
      <h3>Add new feedback:</h3>
      Rating: <input type="number" id="rating">
      <br>
      <textarea id="comment"></textarea>
      <br>
      <button onclick="createFeedback()">Add Feedback</button>
    </div>
    <br>
    <div id="feedback">
    
    </div>

  
  </body>
</html>
