{% from "nav.html" import navbar with context %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/react/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <title>Stats</title>
    <script type="text/javascript">
        function search() {
          let id = document.getElementById('searchbar').value;
          let type = document.getElementById('searchselect').value;
          fetch('/search/'+type+'/'+ id)
            .then(response => response.json())
            .then(data => fillResults(type, data))
        }
  
        function fillResults(type, data) {
          console.log(data)
          let results = document.getElementById('searchresults')
          results.innerHTML = '<h2>Results</h2>'

          if(type == 'restaurants') {
            data = data['restaurant']
            for(let i in data) {
              results.innerHTML += `
                <div>
                <h3><a href="/restaurant/${data[i].restaurant_id}">${data[i].restaurant_name}</a></h3>
                  <ul>
                    <li>Location: ${data[i].location}</li>
                    <li>Rating: ${data[i].rating}</li>
                    <li>Activity: ${data[i].food_types}</li>
                    <li>Website: ${data[i].website}</li>
                  </ul>
                </div>
              `;
            }
          } else if(type == 'users') {
            data = data['users']
            for(let i in data) {
              results.innerHTML += `
                <div>
                <h3><a href="/user/${data[i].user_id}">${data[i].username}</a></h3>
                  <ul>
                    <li>Name: ${data[i].full_name}</li>
                    <li>Tags: ${data[i].tags}</li>
                  </ul>
                </div>
              `;
            }
          }
        }
    </script>
</head>
  <body>
      {{ navbar() }}
      <h1>Search</h1>
      <style>
        .column {
          float: left;
          width: 25%;
        }
      </style>

    <div class="row">
        <div class="entry foreground-color">
            <input type="text" name="searchbar" size="25" id="searchbar"/>
            <select name="searchselect" id="searchselect">
              <option value="users">Users</option>
              <option value="restaurants">Restaurant</option>
            </select>
            <button onclick="search()">Search</button>
        </div>
        <div id="searchresults">

        </div>
  </body>
</html>

