{% from "nav.html" import navbar with context %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/static/react/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <title>User</title>
    <script type="text/javascript">
        var UID = 0;
        var user_attributes = []
        var attribute_index = 0
        var user_prompts = ["username", "email", "password", "name", "tags"]
        
        function createUser() {
            console.log("IN Create User");

            user_attributes = [document.getElementById('username').value,
            document.getElementById('email').value,
            document.getElementById('password').value,
            document.getElementById('full_name').value,
            document.getElementById('tags').value]

            fetch('/users/create/' + user_attributes[0] + '/' + user_attributes[1] + '/' + user_attributes[2] + '/' + user_attributes[3] + '/' + user_attributes[4], {method:'POST'})
        }
    </script>
</head>
  <body>
    <style>
input {
  border: none;
  box-shadow: 0px 0px 3px 0px #777 inset;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
  font-size: 20px;
  width: 40vw;
}
    </style>
    {{navbar()}}
    <h1>User Create</h1>

    <br>
    Username: <input id="username" type="text">
    <br>
    Email: <input id="email" type="text">
    <br>
    Password: <input id="password" type="text">
    <br>
    Full Name: <input id="full_name" type="text">
    <br>
    Tags: <input id="tags" type="text">
    <br>
    <button onclick="createUser()">Create User</button>
    
    <div></div>
  
  </body>
</html>
